.board {
  background-color: rgb(24, 24, 27);
  border: solid 1px rgb(39, 39, 42);
}

.input {
  background-color: rgb(24, 24, 27) !important;
  outline: 0;
  border: none;
}
.input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.input::placeholder {
  color: white;
}
